*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #989898;
}
.container{
   height: 550px;
   width: 360px;
   border-radius: 10px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
   overflow-y: auto;
}
.usertask{
    width: 100%;
    height: auto;
    padding: 18px 10px;
    border-radius: 5px;
    border: none;
    background-color: #989898;
    color: #fff;
    font-size: 16px;
}
.usertask::placeholder{
    color: #fff;
}

