*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #989898;
}
.container{
   height: 550px;
   width: 360px;
   border-radius: 10px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
   overflow-y: auto;
}
.usertask{
    width: 100%;
    height: auto;
    padding: 18px 10px;
    border-radius: 5px;
    border: none;
    background-color: #989898;
    color: #fff;
    font-size: 16px;
}
.usertask::placeholder{
    color: #fff;
}
ul li{
    background: rgb(211, 170, 170);
    padding: 15px;
    margin: 10px 0;
    border-radius: 30px;
    position: relative;
}

ul .fa-check, .fa-trash{
    position: absolute;
    cursor: pointer;
}
ul .fa-check{
    right: 40px;
    color: green;
}

ul .fa-trash{
    right: 15px;
    color: red;
}
ul .checked{
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
}
